extends ../main/base

block variables
	-let title = 'About';

block content
	.about
		.about__inner.inner
			.about__inform.inform
				.inform__left
					+headline({size: 'large'}).inform__headline Подробнее про Intellecto
					+text({align: 'left', line: true}).inform__text.
						онлайн-сервис для улучшения производительности мозга и развития познавательных функций: вниманияб памяти, мышления с помощью когнитивных онлайн-тренажеров и специализированных курсов. В основе тренажеров лежат и зарубежные методики тренеровки познавательных процуссов, научные знания о структуре восприятия, внимания, памяти мышления. Применяются диагностические инструменты: Таблицы Шультеб Эффект Струпа, тест и др.
				.inform__right
					.inform__image
						img.inform__image--image.inform__image--image_about(src='/images/about-top.png')
			+quote.about__quote.
				Разработка тренажеров осуществляется экспертами когнитивной и общей психологии, психофизиологами центра тестирования Гуманитарные технологии при МГУ им. М.В.Ломоносова.
			+text.about__text.
				Для достижения быстрого развивающего эффекта интеллектуальная система онлайн сервиса Викиум генерирует индивидуальную программу развития на каждый день. Она выстраивается с опорой на данные щи уровне развития внимания, памяти, мышления, полученные после прохождения вводного тестирования.
			.about__inform.inform.inform_reverse
				.inform__left
					+headline({size: 'large'}).inform__headline Подробнее про Intellecto
					+text({align: 'left', line: true}).inform__text.
						онлайн-сервис для улучшения производительности мозга и развития познавательных функций: вниманияб памяти, мышления с помощью когнитивных онлайн-тренажеров и специализированных курсов. В основе тренажеров лежат и зарубежные методики тренеровки познавательных процуссов, научные знания о структуре восприятия, внимания, памяти мышления. Применяются диагностические инструменты: Таблицы Шультеб Эффект Струпа, тест и др.
				.inform__right
					.inform__image
						img.inform__image--image.inform__image--image_about(src='/images/about-center.png')
			+quote.about__quote.
				Персональная программа тренировок:
			+text.about__text.
				Основываясь на исследованиях деятельности головного мозга, мы создали гибкую программу тренировок когнитивных функций мозга. Тренировка строится на чередовании упражнений таким образом, чтобы сильные стороны служили фундаментом для развития более слабых.
			.about__inform.inform
				.inform__left
					+headline({size: 'large'}).inform__headline Персональная программа тренировок:
					+text({align: 'left', line: true}).inform__text.
						сновываясь на исследованиях деятельности головного мозга, мы создали гибкую программу тренировок когнитивных функций мозга. Тренировка строится на чередовании упражнений таким образом, чтобы сильные стороны служили фундаментом для развития более слабых. При этом развитие происходит синхронно — совершенствуются показатели сильных функций и растут показатели слабых. Это позволяет мозгу начать эффективней работать за меньший период времени.
				.inform__right
					.inform__image
						img.inform__image--image(src='/images/about-center.png')




					