.problems
	.problems__headline.
		По данным статистики, по всему миру около <span class='problems__headline_green'>2 миллиардов</span> людей сталкиваются с подобными проблемами
	+switch.problems__switch#age
	.problems__list
		.problems__item 
			.problems__item--text Не Снижение работоспособности
			.problems__item--text Снижение работоспособности
		.problems__item 
			.problems__item--text Не Повышенная утомляемость
			.problems__item--text Повышенная утомляемость
		.problems__item 
			.problems__item--text Не Рассеяность внимания
			.problems__item--text Рассеяность внимания
		.problems__item 
			.problems__item--text Не Снижение мнестической деятельности
			.problems__item--text Снижение мнестической деятельности
		.problems__item 
			.problems__item--text Не Снижение скорости и критичности мыслительных операций
			.problems__item--text Снижение скорости и критичности мыслительных операций
	.problems__headline.
		Разум нуждается в развитии точно так же, как и тело. Если хотя бы <span class='problems__headline_green'>2</span> из этого списка вам знакомы — пора обратить внимание на тренировки для вашего мозга.
	.problems__buttons
		+button({size: 'large', color: 'green'}).problems__button начать тренировку
		+button({size: 'large'}).problems__button комплексные программы
	.problems__photos.problems__photos_left
		.problems__column
			img.problems__photo.shaking(src='/images/b1.png')
			img.problems__photo.shaking(src='/images/b2.png')
			img.problems__photo.shaking(src='/images/b3.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b4.png')
			img.problems__photo.shaking(src='/images/b5.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b6.png')
			img.problems__photo.shaking(src='/images/b7.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b8.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b9.png')
	.problems__photos.problems__photos_right
		.problems__column
			img.problems__photo.shaking(src='/images/b10.png')
			img.problems__photo.shaking(src='/images/b11.png')
			img.problems__photo.shaking(src='/images/b12.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b13.png')
			img.problems__photo.shaking(src='/images/b14.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b15.png')
			img.problems__photo.shaking(src='/images/b16.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b17.png')
		.problems__column
			img.problems__photo.shaking(src='/images/b18.png')